
# Resumen de resultados de la línea de base (LB)"
## 06/04/22

Reporte de resultados de línea de base del proyecto CFI

- Estudiantes que contestaron el cuestionario de LB: 67

- Grupo de estudiantes que recibieron tablets:  42 , en adelante, grupo 1  
- Grupo de estudiantes que no recibieron tablets:  25, en adelante, grupo 0

In [32]:


replace_dic_se  = {'La mayor parte del tiempo':4, 'Casi siempre':3, 'Algunas veces':2,
       'Casi nunca':1}

replace_dic_uso = {'Entre 2 a 3 horas': 2.5, 'Entre 4 y 5 horas': 4.5, 'Menos de 1 hora': .5,
       'Entre 1 y 2 horas': 1.5, 'De 6 horas a más': 6}

replace_dic_igualdad = {'En desacuerdo': 4, 'De acuerdo': 3, 'Medianamente de acuerdo': 2,
       'Medianamente en desacuerdo': 1}

In [16]:
#limpiando un poco la base
df = pd.read_excel('../datos/lb_forms.xlsx', sheet_name = "Sheet1" )
df = df[df['obs_selected'] == 1].copy()

for var in ['se_q1', 'se_q2', 'se_q3', 'se_q4', 'se_q5', 'se_q6',
       'se_q7', 'se_q8', 'se_q9', 'se_q10', 'se_q11', 'se_q12', 'se_q13',
       'se_q14', 'se_q15', 'se_q16', 'se_q17', 'se_q18', 'se_q19', 'se_q20',
       'se_q21', 'se_q22']:
    df.replace({var:replace_dic_se},inplace = True)

df['uso_horas_estimado'] = 0

for var in [ 'uso_altanto', 'uso_redes', 'uso_comunicacion', 'uso_aprender_cole',
       'uso_aprender_propio', 'uso_educ_financiera', 'uso_prevencion',
       'uso_problemas', 'uso_juegos', 'uso_youtube']:
    df[var + "_mod"] =  df[var]
    df.replace({var + "_mod":replace_dic_uso}, inplace = True)
    df.loc[df[var + "_mod"].isna(),var + "_mod" ] = 0
    df['uso_horas_estimado'] += df[var + "_mod"]
    
    
for i in range(1,26):
    df.replace({'igualdad_'+ str(i):replace_dic_igualdad},inplace = True)

df.replace({'igualdad_20':{1:4, 2:3, 3:2,4:1}},inplace = True)

df['index_igualdad'] = df[df.columns[df.columns.str.startswith('igualdad')].tolist()].mean(axis = 1)

#df['uso_reportado'] = df['horas_conectado_clean'] * df['dias_conectado']

In [17]:
df['proyeccion_clean'] = df['proyeccion']

In [18]:
## Creando las habilidades se
df['toma_decisiones'] = df.eval('(se_q20+se_q21+se_q22+se_q14)/(4)')

df['grit'] = df.eval('(se_q6+se_q7+se_q12)/(3)')
df['escrupulosidad'] = df.eval('(se_q2+se_q11+se_q16)/(3)')
df['amabilidad'] = df.eval('(se_q8+se_q15+se_q18)/(3)')
df['apertura'] = df.eval('(se_q3+se_q10+se_q13)/(3)')
df['extroversion'] = df.eval('(se_q1+se_q4+se_q19)/(3)')
df['estabilidad'] = df.eval('(se_q5+se_q9+se_q17)/(3)')

In [19]:
df.loc[df['proyeccion_clean'].isin(['D. Estaré estudiando porque el trabajo que quiero necesita educación superior, F. Estaré estudiando y trabajando',
                             'C. Estaré estudiando porque no sé que estaré haciendo aún, E. Estaré estudiando o trabajando por otras  razones',
                             'A. Estaré trabajando en una ocupación que no requiere estudios superiores, B. Estaré trabajando porque necesito adquirir mi independencia financiera, E. Estaré estudiando o trabajando por otras  razones',
                              'B. Estaré trabajando porque necesito adquirir mi independencia financiera, F. Estaré estudiando y trabajando',
                              'B. Estaré trabajando porque necesito adquirir mi independencia financiera, D. Estaré estudiando porque el trabajo que quiero necesita educación superior',
                             'B. Estaré trabajando porque necesito adquirir mi independencia financiera, D. Estaré estudiando porque el trabajo que quiero necesita educación superior, G. Estaré  haciendo algo más (Cuéntanos qué):',
                             'E. Estaré estudiando o trabajando por otras  razones',
                             'F. Estaré estudiando y trabajando, G. Estaré  haciendo algo más (Cuéntanos qué):',
                             'D. Estaré estudiando porque el trabajo que quiero necesita educación superior, F. Estaré estudiando y trabajando, G. Estaré  haciendo algo más (Cuéntanos qué):',
                             'B. Estaré trabajando porque necesito adquirir mi independencia financiera, D. Estaré estudiando porque el trabajo que quiero necesita educación superior, F. Estaré estudiando y trabajando',
                             'B. Estaré trabajando porque necesito adquirir mi independencia financiera, D. Estaré estudiando porque el trabajo que quiero necesita educación superior, F. Estaré estudiando y trabajando, G. Estaré  haciendo algo más (Cuéntanos qué):',
                             'A. Estaré trabajando en una ocupación que no requiere estudios superiores, C. Estaré estudiando porque no sé que estaré haciendo aún, E. Estaré estudiando o trabajando por otras  razones, F. Estaré estudiando y trabajando, G. Estaré  haciendo algo más (Cuéntanos qué):',
                             'E. Estaré estudiando o trabajando por otras  razones, G. Estaré  haciendo algo más (Cuéntanos qué):']), 'proyeccion_clean'] = "F. Estaré estudiando y trabajando"

In [28]:
new_df = df[['lb', 'seleccionado_tablet', 'colegio', 'educ_padre', 'educ_madre', 'sexo', 'uso_altanto_mod', 'uso_redes_mod', 'uso_comunicacion_mod',
    'uso_aprender_cole_mod','uso_aprender_propio_mod', 'uso_educ_financiera_mod', 'uso_prevencion_mod',
       'uso_problemas_mod', 'uso_juegos_mod', 'uso_youtube_mod', 'uso_horas_estimado', 'proyeccion_clean','toma_decisiones',
    'grit', 'escrupulosidad', 'amabilidad', 'apertura','extroversion', 'estabilidad', 'index_igualdad']]
new_df['uno'] = 1

<ipython-input-28-e6f259f28ada>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['uno'] = 1

In [2]:
#new_df.to_csv('../datos/lb_limpia.csv')
#new_df

## Resumen de indicadores computados: 

### 1. Habilidades socioemocionales  
6 habilidades socioemocionales fueron evaluadas: 
- Toma de decisiones    
- Perserverancia (grit)  
- Escrupulosidad  
- Amabilidad  
- Apertura  
- Extroversión  
- Estabilidad 

### 2.  Indice de igualdad (index igualdad), donde las evaluaciones de género son condensadas en un número.  
### 3.  Uso del internet  
### 4.  Proyección profesional  

Puntaje máximo obtenible de cada uno de los indicadores 1. y 2. : 4.

#### 1. Promedio de  habilidades socioemocionales y de igualdad de género

In [21]:

new_df[['seleccionado_tablet', 'toma_decisiones',
    'grit', 'escrupulosidad', 'amabilidad', 'apertura','extroversion', 'estabilidad', 'index_igualdad']].groupby('seleccionado_tablet').mean().round(1)

,toma_decisiones,grit,escrupulosidad,amabilidad,apertura,extroversion,estabilidad,index_igualdad
seleccionado_tablet,,,,,,,,
0,3.1,2.9,2.6,2.9,3.1,2.5,2.6,3.2
1,2.9,2.9,2.7,2.9,2.9,2.4,2.5,3.0

#### 2. Promedio de habilidades socioemocionales y de igualdad de género, por género

In [22]:
new_df[['sexo','seleccionado_tablet', 'toma_decisiones',
    'grit', 'escrupulosidad', 'amabilidad', 'apertura','extroversion', 'estabilidad', 'index_igualdad']].groupby(['seleccionado_tablet','sexo']).mean().round(1)

                          toma_decisiones  grit  escrupulosidad  amabilidad  \
seleccionado_tablet sexo
0                   F                 3.1   3.0             2.6         2.9
                    M                 2.9   2.9             2.7         2.9
1                   F                 2.9   3.0             2.8         3.0
                    M                 2.8   2.8             2.5         2.7

                          apertura  extroversion  estabilidad  index_igualdad
seleccionado_tablet sexo
0                   F          3.0           2.6          2.6             3.2
                    M          3.3           2.3          2.8             3.3
1                   F          3.0           2.4          2.5             3.1
                    M          2.8           2.4          2.5             2.9

#### 3. Promedio de horas utilizadas según diferentes usos:

In [23]:
new_df[['seleccionado_tablet', 'uso_altanto_mod', 'uso_redes_mod', 'uso_comunicacion_mod',
    'uso_aprender_cole_mod','uso_aprender_propio_mod', 'uso_educ_financiera_mod', 'uso_prevencion_mod',
       'uso_problemas_mod', 'uso_juegos_mod', 'uso_youtube_mod']].groupby('seleccionado_tablet').mean().round(1)

,uso_altanto_mod,uso_redes_mod,uso_comunicacion_mod,uso_aprender_cole_mod,uso_aprender_propio_mod,uso_educ_financiera_mod,uso_prevencion_mod,uso_problemas_mod,uso_juegos_mod,uso_youtube_mod
seleccionado_tablet,,,,,,,,,,
0,1.5,1.6,2.5,2.4,3.0,1.7,1.5,1.9,0.9,1.7
1,1.4,1.2,1.5,2.5,2.7,2.4,2.2,2.5,1.0,1.1

uso_al_tanto_mod: mantenerte al tanto de lo que sucede  
uso_redes_mod: entrar a redes sociales (facebook, instagram, tik tok, twitter)  
 uso_comunicacion_mod: comunicarte en línea con otros  
uso_aprender_cole_mod: obtener más información sobre temas aprendidos en el colegio  
uso_aprender_propio_mod: aprender más sobre temas de tu interés  
uso_educ_financiera_mod: aprender sobre educación financiera  
uso_prevencion_mod: aprender sobre prevención de desastres  
uso_problemas_mod: aprender sobre resolución de problemas  
uso_juegos_mod: jugar juegos en línea  
uso_youtube_mod: vídeos en Youtube u otra plataforma

#### 4. Promedio de horas utilizadas según diferentes usos, por género:

In [24]:
new_df[['sexo','seleccionado_tablet', 'uso_altanto_mod', 'uso_redes_mod', 'uso_comunicacion_mod',
    'uso_aprender_cole_mod','uso_aprender_propio_mod', 'uso_educ_financiera_mod', 'uso_prevencion_mod',
       'uso_problemas_mod', 'uso_juegos_mod', 'uso_youtube_mod']].groupby(['seleccionado_tablet','sexo']).mean().round(1)

                          uso_altanto_mod  uso_redes_mod  \
seleccionado_tablet sexo
0                   F                 1.4            1.8
                    M                 1.5            0.9
1                   F                 1.2            1.2
                    M                 1.7            1.2

                          uso_comunicacion_mod  uso_aprender_cole_mod  \
seleccionado_tablet sexo
0                   F                      2.7                    2.5
                    M                      1.7                    2.1
1                   F                      1.4                    2.5
                    M                      1.7                    2.7

                          uso_aprender_propio_mod  uso_educ_financiera_mod  \
seleccionado_tablet sexo
0                   F                         3.0                      1.8
                    M                         2.9                      1.1
1                   F                         2.7                      2.3
                    M                         2.7                      2.6

                          uso_prevencion_mod  uso_problemas_mod  \
seleccionado_tablet sexo
0                   F                    1.6                2.0
                    M                    1.1                1.3
1                   F                    2.3                2.5
                    M                    2.1                2.5

                          uso_juegos_mod  uso_youtube_mod
seleccionado_tablet sexo
0                   F                0.5              1.7
                    M                2.5              1.9
1                   F                0.8              0.9
                    M                1.4              1.3

#### 5. Proyección profesional de estudiantes totales

In [30]:
new_df.pivot_table(index='proyeccion_clean', columns='sexo',values='uno', aggfunc='sum').fillna(0)

sexo                                                   F     M
proyeccion_clean
B. Estaré trabajando porque necesito adquirir m...   5.0   3.0
C. Estaré estudiando porque no sé que estaré ha...   0.0   1.0
D. Estaré estudiando porque el trabajo que quie...  14.0   4.0
F. Estaré estudiando y trabajando                   26.0  12.0
G. Estaré  haciendo algo más (Cuéntanos qué):        2.0   0.0

#### 6. Proyección profesional de estudiantes que recibieron tablets.

In [27]:
new_df[new_df['seleccionado_tablet'] == 1].pivot_table(index='proyeccion_clean', columns='sexo',values='uno', aggfunc='sum').fillna(0)

sexo                                                   F    M
proyeccion_clean
B. Estaré trabajando porque necesito adquirir m...   2.0  2.0
C. Estaré estudiando porque no sé que estaré ha...   0.0  1.0
D. Estaré estudiando porque el trabajo que quie...   8.0  3.0
F. Estaré estudiando y trabajando                   16.0  9.0
G. Estaré  haciendo algo más (Cuéntanos qué):        1.0  0.0